ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container ion-card {
  width: 100%;
  height: 100%;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.full {
  min-width: 100px;
  max-width: auto;
  width: 100%;
}

.text-area {
  min-width: 100px;
  max-width: auto;
  width: 100%;
}